.cocktail-img {
  width: 150px;
}

.cocktails {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cocktail {
  display:flex;
  list-style-type: none;
  position: relative;
  margin: 30px;
}

.cocktail li {
  font-family: bely-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(40, 40, 40);
  text-decoration: none;
  font-size: 3em;
  line-height: 1em;
  position:absolute;
  bottom: 50px;
  right: 0px;
}

.cocktail img {
  filter: grayscale(100%);
}

.cocktail:hover img {
  filter: grayscale(0%);
}
